.btn {
    text-decoration: none !important;
    margin-top: 1px;
    padding: 3px 10px;
    cursor: pointer;
    color: #fff !important;
    background: #AAFF00;
    font-size: 20px;
    border-radius: 8px;
}
.btn:hover {
    background: #9EE411;
}